
body{
  background: url(images/wallpaper.jpeg);
  background-size: 100% 100%;
}

button{
    background: #800000;
    border: 0;
    color: beige;
    padding: 5px;
    border-radius: 2px;
    cursor:pointer;
}

input{
  font-size:16px;
}

#cleartasks{
  height: calc(100%/6 - 4px);
  line-height: 0;
  margin-top: 7px;
  color: wheat;
}

#clear_storage{
  float:left;
}

.addButton{
  background:maroon;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 18px;
  padding: 0px;
  line-height: 0;
}

.noteandweather{
  display:flex;
  height:20%;
}

.noteandweather div{
  width:50%;
}

#notepad{
 
}

#notes{
  display: flex;
  flex-direction: column;
  width:100%;
  color:white;
}

#notes input{
    border-radius: 5px;
    background: radial-gradient(#603E2B,#3a2112);
    border: 1px solid #6b4f40;
    box-shadow: inset 0px 0px 10px #211305;
    margin: 2px 0px;
    width:95%;
    color:wheat;
}

#weather{
  background: radial-gradient(#570000,black 90%);
  border-radius: 10px;
  color:white;
  text-align: center;
  display:flex;
}

#weather div:nth-child(1){
  width:80%;
}

#weather h2{
  font-family: cursive;
  margin-bottom: 0;
}

#weather .description{
  margin:auto;
  width:100%;
}

#weather img{
  width:100px;
  filter: sepia(1) saturate(1.5);
}

select{
    background: linear-gradient(#570000,maroon);
    color: wheat;
    border: 0;
    margin-bottom: 5px;
}

.calendar_container{
  height:70%;
  text-align:center;
  margin-top: 5px;
}

#calendar{
  border-collapse: collapse;
  table-layout:fixed;
  width:100%;
  height:100%;
}

#calendar ul{
  list-style-type: none;
  padding-left: 2px;
  margin: 0;
  width: 97%;
  overflow-y: auto;
  height: calc(100% - 35px);
  line-height: 1;
  margin-top: 2px;
}

#calendar ul li .button{
  float:right;
  height:13px;
  width:13px;
  font-size:13px;
  padding:1px;
  background:white;
  border-radius:1px;
  margin:1px;
  text-align:center;
  font-family:arial;
  color:black;
  display:flex;
  background: #f5ecbc;
}

#calendar ul div img{
  width:100%;
  height:100%;
}

#calendar li{
  margin:2px 0px;
  width:95%;
  background:maroon;
  color:white;
  font-size:13px;
  display:flex;
  padding-left:2px;
  border-radius:3px;
}

#calendar li div:not(.button){
  width: 70%;
}

tr td:nth-child(7) ul li.mobileList{
  margin-left: -40px !important;
}


th{
  height:20px;
  background:maroon;
  color:#f1e3bf;
  box-shadow: 0px 0px 10px #3e1111;
  overflow:hidden;
}

th,td{
  border:1px solid black;
  vertical-align: baseline;
  border:0;
}

td{
  height:50px;
  background: url(images/td_design.png),radial-gradient(beige,tan);
  box-shadow: inset 0px 0px 10px #9f702e;
  background-position: left bottom, center;
  background-size: 20px 20px, 100% 100%;
  background-repeat:no-repeat;
  background-blend-mode:overlay;
  cursor:pointer;
  position:relative;
  line-height:1;
}

td:hover{
  box-shadow: inset 0px 0px 20px 5px #9f702e;
}

#eventModal, #editEventModal{
  width:200px;
  height:100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: maroon;
  color: #f1e3bf;
  box-shadow: 0px 0px 10px #3e1111;
  border: 0;
  z-index: 200;
}

#eventModal input, #editEventModal input{
  background: beige;
  box-shadow: inset 0px 0px 4px 2px tan;
  border: 0;
  margin-top: 20px;
}

#eventModal button, #editEventModal button{
  background: beige;
  color:maroon;
  box-shadow: inset 0px 0px 4px 2px tan;
  border: 0;
}

#saveChanges, #save{
  background: beige;
  box-shadow: inset 0px 0px 4px 2px tan;
  border: 0;
  color:maroon;
  margin-top:5px;
}

#close, #editclose{
  float:left;
}

.hide{
  display:none;
}

#calendar ul.mobileList{
  border-radius:50%;
  width: 70%;
  padding-top: 70%;
  background: radial-gradient(#7e1515,#330606 90%);
  margin:auto;
  height:auto;
}

#calendar ul li.mobileList{
    display:flex;
    background:maroon;
    position:absolute;
    width:80px;
    z-index: 100;
}


@media only screen and (max-width: 450px) and (orientation: portrait){  

  #notes{
    height:100%;
  }

  #notes input{
    height: calc(100%/6);
  }

  #weather{
    flex-direction: column;
  }

  #weather div:nth-child(1){
    width:100%;
  }

  #weather img{
    margin: auto;
    width: auto;
    height: 100%;
  }

  #weather h2{
    font-size:15px;
  }

  #weather .description{
    font-size:12px;
    width:80%;
  }

  #calendar ul li{
    display:none;
  }

  th{
    font-size: 10px;
  }

  #eventModal, #editEventModal{
    width: 90%;
  }

  #eventModal input, #editEventModal input{
    width: 90%;
    height: 20%;
    min-height: 50px;
  }

  
}

